:root {
    --appbgColor: rgb(32, 32, 32);
    --txtcolor: rgb(225, 231, 219);
    --border: rgba(255, 255, 255, 0.146);
}


.appWindowHandle {
    /* border: 2px solid rgb(43, 73, 37); */
    background-color: var(--appbgColor);
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px;
    box-shadow: rgba(0, 0, 0, 0.796) 0px 5px 15px;
    animation: fadeIn 200ms ease-out;
    border: 13px solid var(--appbgColor);
    border-radius: 20px;
}


.header {
    /* border: 2px solid rgb(53, 76, 88); */
    width: 100%;
    height: 3%;
    cursor: grab;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: start;

}

.contentbox {
    /* border: 2px solid rgb(101, 126, 125); */
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: block;

}

.header:active {
    cursor: move;
    pointer-events: none;
}


.btns {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
    overflow: hidden;
    min-width: 10px;
    min-height: auto;
    /* background-color: rgb(83, 71, 94); */
    /* border: 2px solid rgba(255, 124, 23, 0.782); */
    cursor: default;
}

.btn {
    all: unset;
    color: aliceblue;

    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;

}

.btn.close {
    background-color: rgb(232, 45, 3);
}

.btn.maximize {
    background-color: rgb(50, 212, 0);
}

.btn.minimize {
    background-color: rgb(220, 220, 0);
}

.btn:hover {
    border: 2px solid rgb(255, 79, 79);
    cursor: default;
}