.appWindoww {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;

    background-color: var(--appbgColor);
    box-sizing: border-box;

}

.toolbar {
    display: flex;
    padding: 2px 15px;
    justify-content: space-between;
}

.frameWindow {
    border-radius: 1px;
    height: 100%;
    outline: none;
}